/* 文章页背景 */
.layout_post>#post {
    /* 以下代表透明度为0.7 可以自行修改*/
    background: rgba(255, 255, 255, .8);
}

/* 所有页面背景 */
#aside_content .card-widget,
#recent-posts>.recent-post-item,
.layout_page>div:first-child:not(.recent-posts),
.layout_post>#page,
.layout_post>#post,
.read-mode .layout_post>#post {
    /* 以下代表透明度为0.9 */
    background: rgba(255, 255, 255, .8);
}
#post-info .post-title {
    color: #0d0d0d;
}
#page-header #site-title{
    color: #0d0d0d;
}
:root {
    --card-bg: rgba(255,255,255,0.8);
    --light-grey: #1f1f1f;
    --text-highlight-color:#1f1f1f;
    --card-hover-box-shadow: 0 3px 8px 6px #388e3c;
}

/* 页脚透明 */
#footer {
    /* 以下代表透明度为0.1*/
    background: rgba(255, 255, 255, .1);
}
/*dark 模式下*/
/*-------------------------------------------------------*/
[data-theme='dark'] {
  --global-bg: #0d0d0d;
  --font-color: rgba(255,255,255,0.7);
  --hr-border: rgba(255,255,255,0.4);
  --hr-before-color: rgba(255,255,255,0.7);
  --search-bg: #121212;
  --search-input-color: rgba(255,255,255,0.7);
  --search-a-color: rgba(255,255,255,0.7);
  --preloader-bg: #0d0d0d;
  --preloader-color: rgba(255,255,255,0.7);
  --tab-border-color: #2c2c2c;
  --tab-button-bg: #2c2c2c;
  --tab-button-color: rgba(255,255,255,0.7);
  --tab-button-hover-bg: #383838;
  --tab-button-active-bg: #121212;
  --card-bg: #121212;
  --sidebar-bg: #121212;
  --sidebar-menu-bg: #1f1f1f;
  --btn-hover-color: #787878;
  --btn-color: rgba(255,255,255,0.7);
  --btn-bg: #1f1f1f;
  --text-bg-hover: #383838;
  --light-grey: rgba(255,255,255,0.7);
  --dark-grey: rgba(255,255,255,0.2);
  --white: rgba(255,255,255,0.9);
  --text-highlight-color: rgba(255,255,255,0.9);
  --blockquote-color: rgba(255,255,255,0.7);
  --blockquote-bg: #2c2c2c;
  --reward-pop: #2c2c2c;
  --toc-link-color: rgba(255,255,255,0.6);
  --scrollbar-color: #525252;
  --timeline-bg: #1f1f1f;
  --zoom-bg: #121212;
  --mark-bg: rgba(0,0,0,0.6);
}
[data-theme='dark'] #page-header #site-title{
    color: rgba(255,255,255,0.9);
}